body {
  background-color: azure;
  font-family: "Roboto" sans-serif;
}
.weather-app {
  background-color: white;
  margin: 45px auto;
  max-width: 600px;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
.form-input {
  background-color: azure;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  padding: 15px 20px;
  width: 80%;
}
.form-button {
  color: aqua;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  padding: 15px 30px;
}
