body {
  background-color: azure;
  font-family: "Roboto" sans-serif;
}
.weather-app {
  background-color: white;
  margin: 45px auto;
  max-width: 600px;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
header {
  border-bottom: 1px solid azure;
  padding: 30px;
}

.search-form-input {
  background-color: azure;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  padding: 15px 20px;
  width: 80%;
}
.form-button {
  background: aqua;
  color: white;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  padding: 15px 30px;
}
main {
  padding: 30px 0;
}
.weather-app-info {
  display: flex;
  justify-content: space-between;
}
.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-app-paragraph {
  font-size: 16px;
  color: rgba (39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}
.weather-app-paragraph strong {
  color: #f65282;
}
.weather-app-temp-container {
  display: flex;
}
.weather-app-icon {
  font-size: 44px;
  margin-top: 22px;
}
.weather-app-temp {
  font-size: 86px;
  font-weight: bold;
  margin-left: 8px;
}
.weather-app-celcius {
  font-size: 28px;
  margin-top: 16px;
}
footer {
  text-align: center;
  border-top: 1px solid azure;
  padding: 30px;
}
